# Pengaturan NPM untuk mengatasi masalah platform dependencies
legacy-peer-deps=true
node-linker=hoisted
prefer-offline=true
ignore-scripts=false
ignore-platform=true

# Tidak memperdulikan mesin opsional
omit=optional

# Kompatibilitas untuk NPM 7+
strict-peer-dependencies=false
auto-install-peers=true

engine-strict=false
platform=linux
arch=x64
optional=false
fund=false
audit=false
shamefully-hoist=true
unsafe-perm=true
save-exact=false 